/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette
      ),
      typography: Roboto,
    )
  );
}

body {
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}