
<mat-toolbar>
    <span style="padding-right: 1rem;">Restaurant App</span>
    <span style="padding-right: 1rem;">
      <a routerLink="/home">Home</a>
    </span>
    <span style="padding-right: 1rem;">
      <a routerLink="/restaurants">Restaurants</a>
    </span>
    <span style="padding-right: 1rem;">
      <a routerLink="/flights/flight-search">Flights</a>
    </span>
  
    <span style="margin-left: auto; display: flex; align-items: center">
      <span style="padding-right: 0.5rem;">Welcome {{user.name}}</span>
      @if(darkMode()) {
        <mat-icon (click)="changeTheme('light')">light_mode</mat-icon>
      }
      @else {
        <mat-icon (click)="changeTheme('dark')">dark_mode</mat-icon>
      }
      <mat-icon style="margin-left: 0.5rem" (click)="logoutUser()">logout</mat-icon>
    </span>
  </mat-toolbar>